.container{
    margin: 30px;
}
.box{
    background-color: brown;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
    width: 400px;
    gap: 10px;
    color: white;
}
.style{
    color: black;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    width: calc(100% / 4);
    background-color: aqua;
}
